.inputField {
    position: relative;
  
    .eyeIcon {
      position: absolute;
      right: 10px;
      top: 50%;
      transform: translateY(-65%);
      cursor: pointer;
      font-size: 18px;
      user-select: none;
    }
  
    .error-message {
      color: red;
      font-size: 12px;
      margin-top: 4px;
    }
  }
  